h1 {
  color: yellow;
  font-size: 32px;
  text-align: left;
  font-style: bold;
}
 
h2 {
  color: white;
  font-size: 18px;
  font-style: italic;
}
 
p {
  color: green;
  text-align: right;
  font-size: 12px;
}